{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>{{ 'program.new'|trans }}</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">{{ 'program.list'|trans }}</a>
{% endblock %}
